.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

.logo {
	width: 400px;
	height: 152px;
	background: url('img/logo.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.mobile-logo {
	width: 400px;
	height: 152px;
	margin: 0 auto;
	margin-top: 50px;
	background: url('img/logo.png');
	background-size: cover;
	background-repeat: no-repeat;
	display: none;
	margin-top: 20px;
}

@media screen and (max-width: 1000px) {
	.mobile-logo {
		display: block;
	}
}

@media screen and (max-width: 425px) {
	.mobile-logo {
		max-width: 280px;
		max-height: 100px;
		margin: 0 auto;
		margin-top: 20px;
	}
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";